<div class="login d-flex f-all-center">

    <div class="login-box d-grid">
        
        <div class="login-box__form-wrapper d-flex f-column gap-2">

            <div class="login-box__welcome-msg">
                <h2>Welcome back!</h2>
                <p>We're so excited to see you again</p>
            </div>

            <form class="d-flex f-column gap-2" [formGroup]="form">
                <div class="login-box__input-group d-flex f-column">
                    <label for="email">
                        E-MAIL
                        <span>*</span>
                    </label>
                    <input id="email" type="text" formControlName="email">

                </div>
                <div class="login-box__input-group d-flex f-column">
                    <label for="password">
                        PASSWORD
                        <span>*</span>
                    </label>

                    <input id="password" type="password" formControlName="password">

                </div>

                <p class="login-box__forgot-password">Forgot your password?</p>

                <button class="login-box__login-btn" (click)="handleLogin()">Log In</button>

                <p>Need an account? <span>login</span></p>
            </form>
        </div>

        <div class="login-box__qrcode">
            QR_CODE
        </div>

    </div>

</div>