.login-box {
    width: 80rem;
    background-color: #313338;
    box-shadow: 0 0 .4rem #313338;
    border-radius: .5rem;
    padding: 3rem;
    grid-template-columns: 1.3fr .7fr;
    gap: 5rem;
    
    &__welcome-msg {
        text-align: center;

        h2 {
            color: #fff;
        }
    
        p {
            color: #989da3;
        }
    }

    &__input-group {
        gap: .5rem;

        label {
            color: #acb1b8;
            font-size: 1.2rem;
            font-family: 'gg-sans-bold';
            font-weight: 700;

            span {
                color: #e26f73;
            }
        }

        input {
            background-color: #1e1f22;
            color: white;
            padding: 1rem;
        }
    }

    &__forgot-password {
        color: #0896db;
    }

    &__qrcode {
        width: 13rem; height: 13rem;
        background-color: #fff;
        padding: 1rem;
        border-radius: .5rem;

        &-txts {
            text-align: center;

            h2 {
                color: #eaebed;
            }
        }
    }

    &__scan-txt {
        color: #a8adb3;

        span {
            color: #eaebed;
        }
    }

    &__passkey {
        color: #0896db;
    }
}