<div class="login d-flex f-all-center">

    <div class="login-box d-grid">
        
        <div class="login-box__form-wrapper d-flex f-column gap-2">

            <div class="login-box__welcome-msg">
                <h2>Welcome back!</h2>
                <p>We're so excited to see you again</p>
            </div>

            <form class="d-flex f-column gap-2">
                <div class="login-box__input-group d-flex f-column">
                    <label for="emailPhone">E-MAIL OR PHONE NUMBER</label>
                    <input id="emailPhone" type="text">
                </div>
                <div class="login-box__input-group d-flex f-column">
                    <label for="password">PASSWORD</label>
                    <input id="password" type="text">
                </div>

                <p class="login-box__forgot-password">Forgot your password?</p>

                <button class="login-box__login-btn">Log In</button>

                <p>Need an account? <span>login</span></p>
            </form>
        </div>

        <div class="login-box__qrcode">
            QR_CODE
        </div>

    </div>

</div>