<div class="login d-flex f-all-center">

    <div class="login-box d-grid f-align-center">
        
        <div class="login-box__form-wrapper d-flex f-column gap-2">

            <div class="login-box__welcome-msg">
                <h2>Welcome back!</h2>
                <p>We're so excited to see you again</p>
            </div>

            <form class="d-flex f-column gap-2" [formGroup]="form">
                <div class="login-box__input-group d-flex f-column">
                    <label for="email">
                        E-MAIL

                        <!-- E-mail validation messages. -->
                        <span>

                            @if (!form.controls['email'].touched || (form.controls['email'].touched && form.controls['email'].valid)) {
                                *
                            } @else if (form.controls['email'].touched) {
                                
                                @if (form.controls['email'].hasError('required')) {
                                    ∙ Field is required
                                }
    
                                @if (form.controls['email'].hasError('email')) {
                                    ∙ Field is not valid.
                                }
                            }

                        </span>

                    </label>
                    <input id="email" type="text" formControlName="email">

                </div>
                <div class="login-box__input-group d-flex f-column">
                    <label for="password">
                        PASSWORD
                        <span>

                            @if (!form.controls['password'].touched || (form.controls['password'].touched && form.controls['password'].valid)) {
                                *
                            } @else if (form.controls['password'].touched && form.controls['password'].hasError('required')) {
                                ∙ Field is required.
                            }
                            
                        </span>
                    </label>

                    <input id="password" type="password" formControlName="password">

                </div>

                <p class="login-box__forgot-password">Forgot your password?</p>

                <button class="login-box__login-btn" (click)="handleLogin()">Log In</button>

                <p>Need an account? <span>login</span></p>
            </form>
        </div>

        <div class="login-box__qrcode-wrapper d-flex f-column f-align-center gap-3">
            <div class="login-box__qrcode">
                <img src="assets/qr_code.png" alt="QR CODE">
            </div>

            <div class="login-box__qrcode-txts d-flex f-column gap-1">
                <h2>Log in with QR Code</h2>
                <p class="login-box__scan-txt">Scan this with the <span>Discord mobile app</span> to log in instantly.</p>
    
                <p class="login-box__passkey">Or, sign in with passkey</p>
            </div>

        </div>

    </div>

</div>